/* div {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center 
}
#CoffeeHolder {
    display: inline;
    align-items: center;
    justify-content: center 
}
div img {
    margin: auto 
} */